@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?syytdz');
  src:  url('./fonts/icomoon.eot?syytdz#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?syytdz') format('truetype'),
    url('./fonts/icomoon.woff?syytdz') format('woff'),
    url('./fonts/icomoon.svg?syytdz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.app{

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

}


.icon_email_1:before { content: "\e900"; font-family: 'icomoon' !important;}
.icon_whatsapp_1:before { content: "\e901"; font-family: 'icomoon' !important;}
.icon_arrow_left:before { content: "\e906"; font-family: 'icomoon' !important; }
.icon_arrow_right:before { content: "\e908"; font-family: 'icomoon' !important;}
.icon_youtube_play:before { content: "\f16a"; font-family: 'icomoon' !important;}
.icon_phone:before { content: "\e942"; font-family: 'icomoon' !important;}
.icon_facebook:before { content: "\ea90"; font-family: 'icomoon' !important;}
.icon_instagram:before { content: "\ea92"; font-family: 'icomoon' !important;}
.icon_twitter:before {content: "\ea96"; font-family: 'icomoon' !important;}
.icon_linkedin2:before { content: "\eaca"; font-family: 'icomoon' !important;}
.icon_close:before { content: "\e902"; font-family: 'icomoon' !important;}





 
@font-face {
  font-family: 'gothambold';
  src: url('./fonts/gotham-bold-webfont.eot');
  src: url('./fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/gotham-bold-webfont.woff2') format('woff2'),
       url('./fonts/gotham-bold-webfont.woff') format('woff'),
       url('./fonts/gotham-bold-webfont.ttf') format('truetype'),
       url('./fonts/gotham-bold-webfont.svg#gothambold') format('svg');
  font-weight: normal;
  font-style: normal;

}






@font-face {
  font-family: 'metropolisbold';
  src: url('./fonts/metropolis-bold-webfont.eot');
  src: url('./fonts/metropolis-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/metropolis-bold-webfont.woff2') format('woff2'),
       url('./fonts/metropolis-bold-webfont.woff') format('woff'),
       url('./fonts/metropolis-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'metropolislight';
  src: url('./fonts/metropolis-light-webfont.eot');
  src: url('./fonts/metropolis-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/metropolis-light-webfont.woff2') format('woff2'),
       url('./fonts/metropolis-light-webfont.woff') format('woff'),
       url('./fonts/metropolis-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'metropolismedium';
  src: url('./fonts/metropolis-medium-webfont.eot');
  src: url('./fonts/metropolis-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/metropolis-medium-webfont.woff2') format('woff2'),
       url('./fonts/metropolis-medium-webfont.woff') format('woff'),
       url('./fonts/metropolis-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




 

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/metropolis-regular-webfont.eot');
  src: url('./fonts/metropolis-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/metropolis-regular-webfont.woff2') format('woff2'),
       url('./fonts/metropolis-regular-webfont.woff') format('woff'),
       url('./fonts/metropolis-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'metropolisregular';
  src: url('./fonts/metropolis-regular-webfont.eot');
  src: url('./fonts/metropolis-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/metropolis-regular-webfont.woff2') format('woff2'),
       url('./fonts/metropolis-regular-webfont.woff') format('woff'),
       url('./fonts/metropolis-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'metropolisthin';
  src: url('./fonts/metropolis-thin-webfont.eot');
  src: url('./fonts/metropolis-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/metropolis-thin-webfont.woff2') format('woff2'),
       url('./fonts/metropolis-thin-webfont.woff') format('woff'),
       url('./fonts/metropolis-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}