.banner_main{ padding-bottom:160px; height: 100vh; background: #E2D8FF;  position: relative;

	.banner_title_block{ padding-top: 30vh;
		h1{
		  font-size: 60px;
		  letter-spacing: -0.05em;
		  line-height: 70px;
		  text-align: center;
	
		  span{ font-weight: 400; display: inline-block; width: 100%; font-family: 'metropolisthin';
		
		}
		  @media #{$media-1024} {
			font-size: 45px;
			line-height: 50px;	
		}

		@media #{$media-600} {
			font-size: 35px;
			line-height: 35px;
		}
		}
	
		h4{ font-size: 22px;
		  letter-spacing: -0.03em;
		  line-height:30px;
		  font-weight: 500;
		  margin-top: 15px;
		  margin-bottom: 30px;
		  font-family: 'metropolismedium';
		  
		color: var(--color-gray-200);
		@media #{$media-1024} {
			font-size: 18px;
			line-height: 22px;	
		}
		@media #{$media-1024} {
			font-size: 15px;
			line-height: 19px;	
		}


		}

		.banner_but_block{
			ul{
			margin: 0; padding: 0; display: flex; flex-wrap: wrap; justify-content: center;
			li{ padding: 0 1%; list-style: none;
				.but_01{ height: 61px;
					@media #{$media-820} {
						height:45px;
					}
				}
			}
		}
	}

	@media #{$media-600} {
		padding-top: 12vh
	}


	  }


	  .banner_moc_block{ padding: 0.8%; border-radius: 10px; border: 4px solid #343434; z-index: 5; margin-top: 80px; text-align: center; max-width: 87%; margin-left: auto; margin-right: auto; position: relative;
		.banner_lab_01{ width: 30.8%; position: absolute; left: -24%; top: 13%;
			@media #{$media-1600} {
				left: -8%;
			}
		}
		.banner_lab_02{ width: 30.8%; position: absolute; right:  -24%; top: -18%;
		
			@media #{$media-1600} {
				right: -8%;
			}
		}
	}

	&::after{ display: block; width: 100%; background: #fff; content: ""; height: 25%; position: absolute; left: 0; bottom: 0; z-index: 2; }

	@media #{$media-820} {
		padding-bottom: 90px;
	}

	@media #{$media-600} {
		padding-bottom: 90px;
	}


}.fit_img{ width: 100%;}

.mob_moc{ position: absolute; right: -11%; bottom: -49px; width: 30.9%; z-index: 5;}
.mob_ic_01{position: absolute;  width: 29%; right: 0; top: 0; }
.mob_ic_02{position: absolute;  width: 31.5%; right: 0; top: 44%;}
.mob_ic_03{position: absolute;  width: 19.7%; right: 0; top: 67%;}
.mob_ic_04{position: absolute;  width: 22.7%; left: 0; top:58%;}
.mob_ic_05{position: absolute;  width: 27%; left: 0; bottom:15%;  }
.mob_shade{ position: absolute; right: -30%; bottom: -30%; z-index: 1;
	@media #{$media-1800} {
		right:-16%; bottom: -24%;
	}

	@media #{$media-1024} {
		right:0%; bottom: -24%;
	}

	@media #{$media-820} {
		 display: none;
	}

}


.title_block_03{

	.element_title_01{ position: absolute; left: 7%; top: -56px; width: 14.2%; 		z-index: 10;
	
		@media #{$media-600} {
			top: -20px;
		}
	
	}
	.element_title_02{ z-index: 10; position: absolute; right:3%; bottom: -38%; width: 12.8%;
		@media #{$media-600} {

			bottom: 0%;
		}
	
	}
	h2{
		font-size: 88px;
		font-style: normal;
		color: #151515;
		font-weight: 700;
		line-height: 80px; /* 90.909% */

		span{
			color: #FBCB00;  border-bottom: solid 2px #FBCB00;
		}
		@media #{$media-1024} {
			font-size: 70px;
			line-height: 70px;
		}
		@media #{$media-820} {
			font-size: 55px;
			line-height: 58px;
		}

		@media #{$media-600} {
			font-size: 36px;
			line-height: 38px;
		}

	}
}

.moc_bg{ border-radius:10px; display: flex; flex-wrap: wrap; justify-content: center;
img{
	border-radius:10px; overflow: hidden;
}
	.moc_03{ width: 88%; margin-left: auto; margin-right: auto; position: absolute; bottom: -115px; z-index: 10;
		@media #{$media-600} {
			bottom: -50px;

		}
		
	}
}

.sub_title{
	h4{
		color: #151515;
		text-align: center;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 30px; /* 333.333% */
		letter-spacing: -0.48px;

		@media #{$media-600} {
			font-size: 19px;
			line-height: 21px;
		}
	}
}

.count_ul{ margin: 20px 0 0 0 !important; padding: 0; display: flex; flex-wrap: wrap;
	li{ list-style: none; width: 37%; display: flex; flex-wrap: wrap; align-items: center;
	
	.count_txt{
		position: relative;
		h5{
			color: #151515;
			text-align: center;
			font-family: Metropolis;
			font-size: 58px;
			font-style: normal;
			font-weight: 700;
			position: relative;
			z-index: 5;
			line-height: 80px; /* 137.931% */
			padding-right: 30px;

			@media #{$media-820} {
				font-size: 44px;
				padding-left: 16%;
				line-height: 55px;
			}
			@media #{$media-600} {
				font-size: 24px;
				line-height: 30px;
			}
		}

		&::after{
			content: "";
			display: block;
			width: 124px; height: 124px; border-radius: 100%;
 			position: absolute;
			 left: -25px;
			 top: -24px;
			z-index: 1;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
			background: linear-gradient(147deg, #FCC900 16.87%, rgba(255, 255, 255, 0.00) 77.9%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

			@media #{$media-820} {
				left: 4px;
				top: -16px;
				width: 105px;
				height: 105px;

			}
			@media #{$media-600} {
				width: 70px;
				height: 70px;

			}


		}
	}

	.count_dis{
		display: inline-block; padding-left: 8%; padding-right: 8%;
		p{
			color: #151515;
			font-family: Metropolis;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px; /* 110% */
			margin-bottom: 0;
			@media #{$media-820} {
				line-height: 16px !important;
			}

			@media #{$media-600} {

			}

		}
		@media #{$media-600} {
			width: 100%;
		}

	}





	}

	& > :last-child{
		width: 25%;

		.number_counter{
			@media #{$media-820} {
				left: calc(100% - 80px);
			}

			&:after{
				@media #{$media-820} {
					left: calc(100% - 16px);
				}
			}
		}

		.count_txt{
			&:after{
				left: -19px;
			}
		}
	}

	@media #{$media-600} {
		margin-top: 40px;
	}

}


.left_txt_block{
	 height: 100vh; display: flex; flex-wrap: wrap; align-items: center; padding-right: 7%;
	h3{
		color: #FFF;
		font-family: 'metropolismedium';
		font-size: 52px;
		font-style: normal;
		font-weight: 700;
		line-height: 50px; /* 96.154% */
		letter-spacing: -1.04px;
		margin-bottom: 25px;
		span{ font-weight: 400; display: block; font-family: 'metropolisthin';}


		@media #{$media-820} {
			font-size: 45px;
			line-height: 45px;
		}

		@media #{$media-600} {
			font-size: 32px;
			line-height: 35px;
			margin-bottom: 15px;

		}
	}

	p{
		color: #FFF;
		font-family: 'metropolislight';
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 122.222% */
		letter-spacing: -0.36px;
		max-width: 80%;
	}

&.bg_blue{
	background: #6C36FE; 
	h3{ color: #fff;}
}

@media #{$media-600} {
	width: 100% !important; height: auto !important; padding-top: 45px; padding-bottom: 45px;
}

}


.right_scroll_ul{
	margin: 0; padding: 0; align-items: flex-start; display: flex; flex-wrap: wrap; width: 100%; background: #fff;
	li{ list-style: none; width: 50%; height: 50vh; padding: 3% 5%;
		h5{
			color: #151515;
			font-family: 'metropolismedium';
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 22px; /* 91.667% */
			letter-spacing: -0.48px;
			margin-bottom: 10px;
		}
		p{
			color: #686868;
			font-family: Metropolis;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px; /* 122.222% */
			letter-spacing: -0.36px;
		}

		@media #{$media-820} {
			width: 100%; height: auto;
		}

		@media #{$media-600} {
			background: #fff;
		}
	}

	& > :nth-child(2n){
		@media #{$media-600} {
			background: #FFF6D9;
		}
	}
}

.bg_02{ 
	background: #FFF6D9;
}

.bg_03{ 
	background: #F3F6FF;
}
// .ser_img{
// 	height:25vh;
// }

.text_dark{
	h3 {
		span{color: #151515; }
		color: #893BF7; margin-bottom: 0;
	}
	 p{
		color: #151515;
		margin-top: 20px;
	}
	h4{
		color: #151515;
		font-family: 'metropolismedium';
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.48px;
		
	}
}
.elevate{ background: #fff; border-radius: 10px; margin-bottom: 10px;}

.img_block_01{ width: 52%;
	@media #{$media-600} {
		width: 100%;
	}
	
}
.txt_block_01{ width: 48%;
	// .left_txt_block{padding-right:15%;}
	@media #{$media-600} {
		width: 100%;

		 
	}

	

}
.border_radius{ border-radius: 10px; overflow: hidden;
	img{
		border-radius: 10px; overflow: hidden;
	}
}

.text_yellow{
	h3{ color: #FCC900;}
}

.two_col{

	.text_dark{
		padding-right:0%;
		padding-left:15% !important;

		@media #{$media-600} {
			padding-left: 4% !important; padding-right: 4% !important; padding-bottom: 0;
		}
	}

	&.row_reverce{
		.text_dark{
			padding-right:15%;
			@media #{$media-600} {
				padding-left: 4% !important; padding-right: 4% !important; padding-bottom: 0;
			}
		}
	}

	.left_txt_block{height: auto;}
}

// -----title-style------------start

.title_52{
	h3{ 
	 
		font-family: "gothambold";
		font-size: 52px;
		font-weight: 700;
		line-height: 50px;
		letter-spacing: -0.05em;
		text-align: left;

		span{
			font-weight: 400;
			font-family: "metropolisthin";
			// font-size: 18px;
			}

			@media #{$media-820} {
				font-size: 48px;
    			line-height: 50px;
			}
			@media #{$media-600} {
				font-size: 32px;
    			line-height: 35px;
			}
	}

	&.yelllow_txt{
		h3{
		color: #FCC900;
		}
	}

	&.blue_txt{
		h3{
		color: #6C36FE;
		}
	}
	p{
		margin-top: 20px; 
		margin-bottom: 20px;
	}
}

// -----title-style------------end

.margin_{
	margin-left: -2%; margin-right: -2%;
}

.text_block_02{ padding: 65px 40px 45px 40px;
	p{
		color: #fff; margin: 0;
	}
	h4{ 
		color: #fff;
		margin-bottom: 20px;
		font-family: "metropolismedium";
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: 22px; /* 73.333% */
		letter-spacing: -0.6px;}

		&.text_dark{
			h4, p{ color: #151515;}
		}
}

.better_block{ width:54%;

	@media #{$media-600} {
		width: 100%; 
		margin-bottom: 35px;
	}

}
.employee_block{ width:45.4%;

	@media #{$media-600} {
		width: 100%;
		margin-bottom: 35px;
	}
}

.empower_img_right{
	width: 56.2%;
	position: absolute;
	right: -10%;
	bottom: 0;
	@media #{$media-820} {
		right: 0%;
	}
	@media #{$media-600} {
		position: unset;
		width: 100%;
	}

}

.txt_block_empower{ width: 55%;
	@media #{$media-600} {
		width: 100%;
	}

}
.text_black{
	p{ color: #151515;}
}

.but_ul{ display: flex; flex-wrap: wrap; margin-left: -1%; margin-right: -1%;

	li{ padding-left: 1%; padding-right: 1%; list-style: none;}
}



.counder_block{
	border-radius: 100px;
	border: 1px solid #F0ECFE;
	background: #FFF;
	box-shadow: 0px 4px 102px 6px rgba(0, 0, 0, 0.05);

	ul{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 48px 0%;
		li{
			list-style: none; width: 33%;
			border-right: solid 1px #E7E7E7;
			padding: 0% 6%;
			text-align: center;
			p{margin: 0;
				color: #818181;
				text-align: center;
				font-family: Metropolis;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 22px; /* 110% */
				max-width: 80%;
				margin-left: auto;
				margin-right: auto;
			}
			h4{
				color: #BBA8FF;
				text-align: center;
				font-family: Metropolis;
				font-size: 56px;
				font-style: normal;
				font-weight: 700;
				line-height: 50px; /* 89.286% */
				letter-spacing: -1.12px;
				margin-bottom: 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				@media #{$media-820} {
					font-size: 45px;

				}
			}

			@media #{$media-820} {
				padding: 0% 3%;
			}

			@media #{$media-600} {
				width: 100%; border-right: none;
				border-bottom: solid 1px #f7f7f7;
				padding-top: 15px; padding-bottom: 15px;
			}



		}

		& :last-child{
			border-right: none;
		}

		& > :last-child{
			border-bottom: none;
		}

		@media #{$media-600} {
			padding-top: 25px; padding-bottom: 25px;
		}
	}

	
	@media #{$media-600} {
		border-radius: 50px;
	}

	.number_counter_experience{

		&:after{
			content: attr(data-symbol);
			display: block;
		


		}
	}
}

.faq_left{
	width: 30%;

	p{
		color: #151515;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 122.222% */
		letter-spacing: -0.36px;
	}

	@media #{$media-600} {
		width: 100%;
	}
}

.faq_right{
	width:64%;
	padding-left: 10%;

	@media #{$media-820} {
		padding-left: 5%;
	}
	@media #{$media-600} {
		width: 100%;
	}
}




.accordion_ingle_title::after{
	content: "";
	position: absolute;
	right: 25px;
	top: 50%;
	transition: all 0.2s ease-in-out;
	display: block;
	width: 8px;
	height: 8px;
	border-top: solid 2px #999;
	border-right: solid 2px #999;
	transform: translateY(-50%) rotate(135deg);
  }
  .accordion_single_content {
	 height: 0;
	overflow: hidden;
	transition: max-height .3s ease-in-out;

	p{
		color: #878787;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 122.222% */
		letter-spacing: -0.36px;	
	}
  }

  .accordion_single_item{
	border-bottom: solid 1px #F0F0F0;
	padding:  0;
 
}
.is_open {
	.accordion_single_content  {
		 height: 150px;
	}
}

.accordion_single_title{
	color: #151515;
	font-family: 'Metropolis';
	font-size: 20px;
	font-style: normal;
 	line-height: 28px; /* 140% */
	letter-spacing: -0.4px; 
	position: relative;
	padding-bottom: 25px;
	padding: 25px 60px 25px 0px;
	cursor: pointer;

	@media #{$media-820} {
		font-size:18px;
		padding: 20px 60px 20px 0px;
	}

	@media #{$media-600} {
		font-size:15px;
		line-height: 20px;
		padding: 15px 60px 15px 0px;
	}

}

.acc_icn{
	top: 15px; position: absolute; right: 0; width: 50px; height: 50px; border: solid 1px #ccc; -webkit-border-radius: 100px;
	border-radius: 100px; display: inline-flex; align-items: center; justify-content: center;

	@media #{$media-600} {
		width: 35px; height: 35px; top: 20px;
	}
}

.about_sec{ background-size: cover !important;}

.about_slider_block{
	padding-left: 18%;
	margin-top: 40px;
	.item{
		width: 38%; background: #fff;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		.testi_title{
			width: 100%;
			border-radius: 15px 15px 0px 0px;
			background: #F7F9FB;
			padding: 25px 7%;
		}
		.testi_txt{ width: 100%; padding: 45px 7%; min-height: 220px;
			p{
				color: #151515;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 22px; /* 122.222% */
				letter-spacing: -0.36px;
			}
		}
		@media #{$media-820} {
			width: 60%;
		}

		@media #{$media-600} {
			width: 90%;
		}
	}
	}

	.swipper_nav_box{ position: absolute; right: 0; top: 0; display: flex;
		.slider_nav{
			margin: 5px;
			cursor: pointer;
			opacity: 0.8; 
		&::before{ display: none;}

		&:hover{
			opacity: 1;
		}

		img{
			@media #{$media-600} {
				width: 45px;
				height: 45px;
			}
		}
		}
	}

	.testi_logo{ margin-left: auto;
		img{display: block;}
	}

	.testi_name{ margin-right: auto; display: flex; align-items: center; width: 100%;}

	.testi_title{ display: flex; justify-content: space-between; align-items: center;}

	.testi_user{
		width: 64px; height: 64px; -webkit-border-radius: 100%; border-radius: 100%;
	}

	.testi_user_det{
		width: calc(100% - 64px); padding-left: 5%;

		p{margin: 0; color: #737373;
			font-family: 'Metropolis';
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px; /* 137.5% */
			letter-spacing: -0.32px;}
		h5{ 
			margin-bottom: 5px;
			color: #151515;
			font-family: 'metropolismedium';
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 22px; /* 91.667% */
			letter-spacing: -0.48px;
		
		}
	}

 

	.marque_logo_ul{
		margin: 0; padding: 0; display: flex; flex-wrap: wrap;
		li{ list-style: none; 
			 
			display: flex; 
			flex-wrap: wrap;
			margin: 0;
			padding: 0px 5px;
			.logo_block{
				background: #F7F7F7; 
				width: 100%; 
				height: 100%;
			}
		 }
	}



	.card_top_padding1{
		padding-top: 15vh;
		@media #{$media-600} {
			padding-top: 6vh;
		}
	}

	.card_top_padding2{
		padding-top: 15vh;
		// padding-top: 22vh;
		@media #{$media-600} {
			padding-top: 11vh;
		}
	}

	.card_top_padding3{
		padding-top:15vh;
		// padding-top: 30vh;
		@media #{$media-600} {
			padding-top: 16vh;
		}
	}



	.card_block{ border-radius: 20px;  align-items: center; overflow: hidden;  
	
		&.card_01{
			background: #BBA9FF;

		}
	}

	.card_left_block{width:42%; padding-left: 5%;
	h3{
		span{
		 display: block; 
		}
		
	}
		p{color: #000;}

		h3{
			font-size: 52px;
			span{
				font-size: 52px;	
				@media #{$media-820} {
					font-size: 31px;
				}
	
			}

			@media #{$media-820} {
				font-size: 31px;
				line-height: 28px;
			}

		}

		@media #{$media-600} {
			width: 100%; padding:10%;
		}

	}
	.card_right_block{width:58%; display: flex; flex-wrap: wrap; justify-content: flex-end; 
	
		@media #{$media-600} {
			width: 100%;
		}
	
	
	}

// -----------------------

	.container_1400{max-width: 1400px; margin-left: auto; margin-right: auto;}
	.card_02{ max-width: 1400px; margin-left: auto; margin-right: auto; background: #DED5FF;}
	.card_03{ max-width: 1400px; margin-left: auto; margin-right: auto; background: #F0ECFE;
		// h3{font-size: 30px; line-height: 40px;
		// span{
		// 	font-size: 30px;	
		// }
		// @media #{$media-820} {
		// 	font-size:25px;
		// 	line-height: 28px;
		// }

		// }
		// p{font-size: 16px;}
	}






	// .container_1400{max-width: 1400px; margin-left: auto; margin-right: auto;}
	// .card_02{ max-width: 1264px; margin-left: auto; margin-right: auto; background: #DED5FF;}
	// .card_03{ max-width: 1130px; margin-left: auto; margin-right: auto; background: #F0ECFE;
	// 	h3{font-size: 30px; line-height: 40px;
	// 	span{
	// 		font-size: 30px;	
	// 	}
	// 	@media #{$media-820} {
	// 		font-size:25px;
	// 		line-height: 28px;
	// 	}

	// 	}
	// 	p{font-size: 16px;}
	// }








// ---------------------






	.z_100{ z-index: 100;}
	.z_50{ z-index: 50;}

	.right_txt_block{width: 48%;}
	.red{color: red;}
	.red_bg{ background: #6C36FE;}


	.number_counter{
		&::after {
			content: attr(data-symbol);
			line-height: inherit;
			top: 0;
			position: absolute;
			left: calc(100% - 30px);}
			@media #{$media-820} {
				left: calc(100% - 13px);
			}
			
	}


.righgt_scroll_block{

	@media #{$media-600} {
		width: 100%;
	}
}

.z_100{z-index: 100;}

.bg_gray{
	background: #F3F6FF;
}

.pl_0{padding-left: 0;}

.right_elevate_ul{
	background: transparent !important;
	li{
		 margin-bottom: 25px;
		 border-radius: 16px;
		 background: #FFF;
		 height: auto;
		 @media #{$media-600} {
			margin-bottom: 15px;
		 }

	}
}

.elevate_right_block{ padding-top: 150px; padding-bottom: 120px;
	@media #{$media-600} {
		width: 100%;
		padding-top: 50px; padding-bottom: 50px;

	}

}


.elevate_left_block{
	@media #{$media-600} {
		width: 100%;
		padding: 0% !important;
	}

	.left_txt_block{
		@media #{$media-600} {
			padding-left: 8% !important; padding-right: 8% !important; padding-bottom: 0 !important;
		}
	}

}


.text_center{
	h3{text-align: center;}
}


.logo_marqr{
	 
		display: inline-flex;
		align-items: flex-end;
		margin: 0;
		padding: 0;
		clear: both;
	 

	li{
		
		width: 20vw;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
		margin: 10px 0;
		list-style: none;
	
		.logo_box_marqe{    background: #F7F7F7; width: 100%; border-radius: 20px; height: 188px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;
		
			@media #{$media-600} {
				 height: 150px;
			}
		
		}
	
	
		@media #{$media-820} {
			width: 40vw;
		}

		@media #{$media-600} {
			width: 70vw;
		}
	}
}

.margin_mob{
	@media #{$media-600} {
		padding-top: 10px;
	}
}

.title_black{
	h3{color: #000;}
}

.empower_sec{
	@media #{$media-600} {
		padding-bottom: 0 !important;
	}
}

.testi_title_block{
	@media #{$media-600} {
		padding-right: 28%;
	}
}